<h2>Here ye, hear ye...view how people have judged your article() here</h2>
<div class="logout">
<button type="button"><a href="/logout">Logout</a></button>
</div>
<ul>
  <%
    <%allComments.forEach(function(comment) {%>
        <li>
        <%=comment.author %></br>
        <%=comment.title %></br>
        <%=comment.body %></br>
        <a href ="/articles">Click here to go back to the board room</a>
        </li>
    <%})
    %>
</ul>
