
<ul id="all-comment-list">
  <% allArticles.findById()
  <% allComments.forEach(function(comment) { %>
    <ul>
       <li>
        <%= article.title %><br>
        <%= article.post %><br>
       </li>
  <% }) %>
  </ul>
