<h2>Welcome, this is where you judge !</h2>
<form class="new-comment" action="/comments" method="post">
  <div class="column">
    <div class="two rows">
      <input type="text" name="article[title]" id="article-title" placeholder="What's it gonna be champ?" class="u-full-width">
    </div>
    <div class="two rows">
      <input type="text" name="article[body]" id="article-post" placeholder="Fire away!" class="u-full-width">
    </div>
    <input type="submit" value='Rock you like a hurricane!'>
  </div>
</form>
