<h2>Weather it's here or there, it's everywhere.</h2>
<div class="post">
<button type="button" name="article[new]"> <a href="/new-article">New Post!</a></button>
</div>

<ul>
  <%allArticles.forEach(function(article){%>
    <li><%=article.title%></br>
        <%=article.body %>
    </li>
    <%})%>
</ul>

<a href="/logout">Logout</a>
