<h2>Welcome, please join the discussion</h2>

<div class="row">
  <div class="col-md-4"><a href="/articles" class="btn btn-default btn-lg active" role="button">Back to Index</a></div>
  <div class="col-md-4 col-md-offset-4"><a href="/logout" class="btn btn-default btn-lg active" role="button">Logout</a>
  </div>

<div class="row">

</div>

<form class="form-horizontal" action="/new-article" method="post" id="articleForm">

    <div class="form-group">
      <label for="">Title</label>
        <div class="col-sm-10">
        <input type="text" name="article[title]"  class="form-control"  placeholder="What's it gonna be champ?" >
        </div>
    </div>
    <div class="form-group">
      <label for="">Article</label>
      <div class="col-sm-10">
        <textarea name="article[body]"  placeholder="Fire away!" class="form-control" form="articleForm"> </textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Rock you like a hurricane!</button>
      </div>
    </div>
    <input type="hidden" name="article[user]" value="<%=user.id%>">
</form>
