<h2>Welcome, please join the discussion</h2><br>
<p>OR</p>
<h2><a href="/logout">Logout</a></h2>
<form class="new-post" action="/new-article" method="post">
  <div class="column">
    <div class="two rows">
      <input type="text" name="article[title]" id="article-title" placeholder="What's it gonna be champ?" class="u-full-width">
    </div>
    <div class="two rows">
      <input type="text" name="article[body]" id="article-post" placeholder="Fire away!" class="u-full-width">
    </div>
    <input type="submit" value='Rock you like a hurricane!'></input>
  </div>
</form>
