<h2>Hi there, lets get some details and begin your initiation. </h2>
<form class="new-user">
  <div class="row">
    <div class="four columns">
      <input type="text" name="user[name]" id="user-name" placeholder="Your name" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[email]" id="user-email" placeholder="Your user email" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[password]" id="user-password" placeholder="Your user password" class="u-full-width">
    </div>
    <input type="submit" value='Save My User'>
  </div>

  <ul id="all-user-list">
  <% allUsers.forEach(function(user) { %>
    <li>
        <%= user.name %><br>
        <%= user.email %><br>
        <%= user.password %>
    </li>
  <% }) %>
  </ul>
</form>
