<div class="page-header">
<h1>Climate Change is real folks.Create your account and create a storm!
<small>Come on in and bring the weather with you!</small></h1>
</div>

<form class="form-inline" action="/login" method="post">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
      <input type="email" name="user[email]" placeholder="Your email" class="form-control" id="exampleInputEmail3">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Email address</label>
      <input type="password" name="user[password]" placeholder="Your password" class="form-control" id="exampleInputPassword3">
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
</form>

<div class="jumbotron">
  <div class="container">

  </div>
</div>
