<h2>Hi there,join us and everywhere you go you'll always take the weather with you . </h2>
<form class="new-user">
  <div class="row">
    <div class="four columns">
      <input type="text" name="user[local][name]" id="user-name" placeholder="Your name" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[local][email]" id="user-email" placeholder="Your user email" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[local][password]" id="user-password" placeholder="Your user password" class="u-full-width">
    </div>
    <input type="submit" value='Jump In'>
  </div>
</form>
