<!DOCTYPE html>
<html>
<h2>Come on in and bring the weather with you!</h2>
<form class="user-sign-up" action="index.html" method="post">
  <div class="set-user-name">
<input type="text" name="local[signup][name]" value="" id="set-name" placeholder="Set your username here!">
  </div>
  <div class="set-user-pw">
<input type="text" name="local[signup][password]" value="" id="set-pw" placeholder="Set your password here!">
  </div>
  <div class="set-user-email">
<input type="text" name="local[signup][email]" value="" id="set-email" placeholder="Set your email here!">
  </div>
</div>
<input type="submit" value='Come on in'>
</div>
</form>

<% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>
</html>
